{% if page.sidebar == "dukedocs_sidebar" %}
{% assign sidebar = site.data.sidebars.dukedocs_sidebar.entries %}

{% elsif page.sidebar == "tags_sidebar" %}
{% assign sidebar = site.data.sidebars.tags_sidebar.entries %}

{% else %}
{% assign sidebar = site.data.sidebars.dukedocs_sidebar.entries %}
{% endif %}



{% comment %}
sidebar configuration for print files
{% endcomment %}

{% if site.product == "dukedoc" %}
{% assign sidebar_pdf = site.data.sidebars.dukedocs_sidebar.entries %}
{% endif %}

